<header>
  <mat-toolbar>
    <input type="checkbox" id="menu" />
    <label for="menu" class="icon">
      <div class="menu"></div>
    </label>
    <nav class="menu-right">
      <ul>
        <li>
          <button mat-icon-button title="Acesso as configurações">
            <mat-icon svgIcon="settings">Configurações</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button title="Saiba mais..">
            <mat-icon svgIcon="help_outline">Saiba Mais</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="person">Perfil</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon svgIcon="login"></mat-icon>
              Entrar
            </button>
            <button mat-menu-item>
              <mat-icon svgIcon="manage_accounts"></mat-icon>
              Editar Perfil
            </button>
            <button mat-menu-item>
              <mat-icon svgIcon="logout"></mat-icon>
              Sair
            </button>
          </mat-menu>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>
<mat-divider></mat-divider>
