<div>
  <form [formGroup]="formCnpj" (ngSubmit)="onSubmit()">
    <label for="cnpj">CNPJ MASK</label>
    <input
      type="text"
      name="cnpj"
      formControlName="cnpj"
      appMaskInputCnpj
      maxlength="17"
      id="cnpj"
      autocomplete="off"
      spellcheck="false"
    />
    <br /><br />
    <button class="button" type="submit" [disabled]="!formCnpj.valid">
      Envia
    </button>
  </form>
  <br /><br />
</div>

<div>
  <p>Usando o Pipe de Random Replace String!</p>
  <p>CNPJ: {{ formCnpj.value.cnpj }} (original)</p>
  <p>
    CNPJ: {{ formCnpj.value.cnpj | replaceRandomString: "*" }} (random *
    replace)
  </p>
  <p>CNPJ Status: {{ formCnpj.status }}</p>
</div>

<div>
  <ul>
    <ng-container *ngFor="let data of pessoa">
      <h1>Pessoa:</h1>
      <li *ngIf="data.nome">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Nome: {{ data.nome }}
      </li>
      <li *ngIf="data.nome">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Idade: {{ data.idade }}
      </li>
      <li *ngIf="data.cidade">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Cidade: {{ data.cidade }}
      </li>
      <li *ngIf="data.telefone">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Telefone: {{ data.telefone }}
      </li>
      <li *ngIf="data.saldo">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Saldo: {{ data.saldo | currency: "BRL" }}
      </li>
    </ng-container>

    <ng-container *ngFor="let dataSecure of pessoaSecure">
      <h1>Pessoa:</h1>
      <li *ngIf="dataSecure.nome">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Nome: {{ dataSecure.nome | replaceRandomString: "x" }}
      </li>
      <li *ngIf="dataSecure.nome">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Idade: {{ dataSecure.idade | replaceRandomString: "*" }}
      </li>
      <li *ngIf="dataSecure.cidade">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Cidade: {{ dataSecure.cidade | replaceRandomString: "*" }}
      </li>
      <li *ngIf="dataSecure.telefone">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Telefone: {{ dataSecure.telefone | replaceRandomString: "*" }}
      </li>
      <li *ngIf="dataSecure.saldo">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        Saldo: {{ dataSecure.saldo | replaceRandomString: "*" }}
      </li>
    </ng-container>
  </ul>
</div>
