@import "./../../../../assets/styles/default.style.scss";

.profile-card {
  text-align: center;
  padding: 15px 10px 0;

  .header {
    .mat-icon {
      height: 70px;
      width: 70px;
    }
  }
}

mat-nav-list {
  h2 {
    color: $hoki;
    margin: 6px 0 0 9px;
  }

  .mat-list-base .mat-subheader {
    background-color: $black-russian;
  }

  .active {
    background-color: $black-russian-light;
  }

  .nav-pages {
    padding-bottom: 10%;
    height: auto;
    min-height: 150px;
  }
}
