/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./assets/styles/default.style.scss";

html,
body {
  height: 100%;
}

body {
  background-color: $bg-color-primary;
  color: $font-color-primary;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
