// Paleta de Cores do Projeto.

$black-russian: #181c28;
$black-russian-light: #0000002b;
$dark-grayish-navy: #292d39;
$grey: #888888;
$hoki: #607d8b;
$vivid-violet: #7b1fa2;
$white: #ffffff;
$whisper: #eeeeee;
