// Cor de Fundo
// primary, secondary, tertiary, quartua.
$bg-color-primary: #181c28;
$bg-color-secondary: #292d39;
$bg-color-tertiary: #7b1fa2;

// Cor da Font Texto
$font-color-primary: #ffffff;
$font-color-secondary: #607d8b;
